<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <title>Random Quote Generator</title>
</head>
<body>
    <div class="container">
        <h2>Quote of the day</h2>
        <div class="quote-container">
            <p>
                <%=locals.quotes %>
            </p>
        </div>
            <form action="/submit" method="POST">
                <input type="submit" value="Generate quote">
            </form>
    </div>
<%-include("footer.ejs")%>    
</body>
</html>